*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255)),url(solidwhite.jpg);
    background-position: center;
    background-size: cover;
    position:relative;
    justify-content: space-between;
}

nav .tittel{
    width: 77%;
    position: relative;
    text-align: center;
    justify-content: space-between;
}

.tittel h1{
    font-size: 4vw;
    cursor: default;
}

.tittel p{
    font-size: 1.5vw;
    cursor: default;
}

@media(max-width: 700px){
    .tittel h1{
        font-size: 200%;
    }
    .tittel p{
        font-size: 100%;
    }
}

 nav .tittel h1{
    color: rgb(47, 29, 7);
 }

 nav .tittel p{
    color: orange;
 }

nav{
    display: flex;  
    flex-direction: row;
    padding: 0% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-link{
    flex: 1;
    text-align: right;  
}

.nav-link ul li{
    list-style: none;
    display:inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-link ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav-link ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #a97741;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-link ul{
    justify-content: space-between;
    
}

.nav-link ul li:hover::after{
    width: 100%;
}

.box2{
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.715),rgba(0, 0, 0, 0.447)),url(cakeback.jpg);
    background-position: center;
    background-size: cover;
    position:relative;
}

.text-box{
    color: rgb(184, 47, 47);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 40px;
}

.box2 .text-box p{
    margin-right: 1%;
    margin-left: 1%;
}

.box2 .text-box h1{
    margin-top: 1%;
}

.text-box h1{
    font-size: 40px;
}

.text-box p{
    margin: 20px 0 40px;
    font-size: 18px;
    color: #fff;
    line-height: 22px;
    text-align: center;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background:transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 1%;
}

.hero-btn:hover{
    border:2px solid #b13026;
    background: #b13026;
    transition: 0.5s;
}

nav .fa{
    display: none;
}


@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-link ul li{
        display: block;
    }
    .nav-link{
        position: absolute;
        background: #6f1919;
        height: 90.7vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: rgb(0, 0, 0);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-link ul{
        padding: 30px;
    }
    .text-box{
        margin-top: 20%;
        width: 280px;
    }
    .hero-btn{
        margin-bottom: 7%;
    }
    .text-box p{
        font-size: 15px;
    }
    .text-box h1{
        font-size: 25px;
    }
}

section.text-box{
    background-color: #00000070;
    border-radius: 10px;
}

.box3 h2{
    text-align: center;
    font-size: 4vw;
    padding-top: 5%;
}

@media(max-width: 700px){
    .box3 h2{
        font-size: 200%;
    }
}

.box4{
    min-height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)),url(box3cake.jpg);
    background-position: center;
    background-size: cover;
    position:relative;
    justify-content: space-between;
}   

.row{
    display: flex;
    justify-content: space-around;
    padding-top: 12%;
}

.VBLH{
    flex-basis: 20%;
    background-color: #fff3f3;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    margin-right: 1%;
    margin-left: 2%;
    margin-bottom: 5%;
    margin-top: 4%;
}

.VBLH h3{
    font-size: 2vw;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
    div.VBLH{
       margin-right: 15%;
       margin-left: 15%;
       text-align: center;
    }
    .VBLH h3{
        font-size: 140%;
    }
}

.Favoritter{
    min-height: 100vh;
    background-color: #e89338;
}

h4{
    text-align: center;
    font-size: 4vw;
    padding-top: 5%;
    color: white;
}

.cake-1{
    flex-basis: 30%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    margin-bottom: 5%;
}

h5{
    color: orange;
    font-size: 150%;
    cursor:default;
}

.cake-1 p{
    font-size: 80%;
}

.row-kjøp{
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
}

.placeholder{
    width: 40%;
}
.placeholder1{
    width: 70%;
    border-radius: 10px;
    align-items: center;
}

@media(max-width: 700px){
    .row-kjøp{
        flex-direction: column;
    }
    .Favoritter h4{
        font-size: 300%;
    }
    .cake-1{
        margin-right: 15%;
        margin-left: 15%;
    }
}



.kjøp-btn{
    display: inline-block;
    text-decoration: none;
    color: orange;
    border: 2px solid orange;
    padding: 12px 34px;
    font-size: 16px;
    background:transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 1%;
    margin-top: 5%;
    background-color: rgba(255, 166, 0, 0.352);
}



.kjøp-btn:hover{
    border:2px solid #db8a19;
    background: #c97a0bda;
    transition: 0.5s;
    color: white;
}

@media(max-width: 700px){
    .cake-1{
        text-align: center;
    }
}

.body{
    min-height: 50vh;
    width: 100%;
    background: #EEECEB;
}

footer{
    position: relative;
    background: #bb4949;
    width: 100%;
    bottom: 0;
    left: 0;
}
footer::before{
    content:'';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width:100%;
    background: #ffffff;
}

footer .content{
    max-width: 1250px;
    margin:auto;
    padding: 30px 40px 40px 40px
}

footer .content .top{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content .top .logo-details{
    color: rgb(0, 0, 0);
    font-size: 50px;
}

.content .top .media-icons{
    display: flex;
}
.content .top .media-icons a{
    height: 40px;
    width: 40px;
    background: red;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.5s ease;
}
.top .media-icons a:nth-child(1){
    background:#4267b2
}
.top .media-icons a:nth-child(1):hover{
    color:#4267b2;
    background: #ffffff;
}
.top .media-icons a:nth-child(2){
    background:#1da1f2
}
.top .media-icons a:nth-child(2):hover{
    color:#1da1f2;
    background: #fff;
}
.top .media-icons a:nth-child(3){
    background:#E1306c
}
.top .media-icons a:nth-child(3):hover{
    color:#E1306c;
    background: #fff;
}
.top .media-icons a:nth-child(4){
    background:#0077b5
}
.top .media-icons a:nth-child(4):hover{
    color:#0077b5;
    background: #fff;
}
.top .media-icons a:nth-child(5){
    background:#ff0000
}
.top .media-icons a:nth-child(5):hover{
    color:#ff0000;
    background: #fff;
}

footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}
.link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #000000;
}
.content .link-boxes .box li{
    margin: 6px 0;
    list-style:none;
}

.content .link-boxes .box li a{
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease;
}

.content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
}
.content .link-boxes .input-box{
    margin-right: 55px;
}

.sub{
    width: 110%;
}

.link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFb6;
    background: #ffffff;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 15px;
    color: #000000;
    margin-top:5px;
}
.link-boxes .input-box input::placeholder{
    color: #000000;
    font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
    background: #ffffff;
    color: #000000;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
}

.input-box input[type="button"]:hover{
    opacity: 1;;
}

footer .bottom-details{
    width: 100%;
    background: #151515;
}
footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color:#fff;
    opacity: 0.8;
    text-decoration: none;
}
.bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
}
.bottom-details .bottom_text a{
    margin-right: 10px;
}

@media (max-width: 900px){
    footer .content .link-boxes{
        flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box{
        width:40%;
        margin-top: 10px;
    }
}
@media (max-width: 700px){
    footer{
        position: relative;
    }
    .content .top .logo-details{
        font-size: 26px;
    }
    .content .top .media-icons a{
        height:35px;
        width:35px;
        font-size: 14px;
        line-height: 35px;
    }
    footer .content .link-boxes .box{
        width: calc(100% / 3 - 10px)
    }
    footer .content .link-boxes .input-box{
        width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text{
        font-size: 12px;
    }
}
@media (max-width: 520px){
    footer::before{
        top:145px;
    }
    footer .content .top{
        flex-direction: column;
    }
    .content .top .media-icons{
        margin-top: 16px;
    }
    footer .content .link-boxes .box{
        width: calc(100% / 2 - 10px);
    }
    footer .contet .link-boxes .input-box{
        width: 100%;
    }
}


.finish{
    min-height: 20vh;
    background-color: #151515;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    color: rgb(183, 125, 25);
    list-style: none;
}

.box{
    margin-top: 20px;
    list-style: none;
    margin-right: 5%;
    margin-left: 5%;
}

.logo-details{
    margin-left: 4.5%;
}

@media(max-width: 700px){
    .finish{
        font-size: 12px;
    }
}

/* PERSONVERN */

.Pheader .ptext-box2 a{
    text-decoration: none;
}

.Pheader{
    background-color: #d6a36c;
    text-decoration: none;
}

.ptext-box2{
    min-height: 80vh;
    width: 100%;
    background-color: #d6a36c;
    background-position: center;
    background-size: cover;
    position:relative;
    text-align: center;
    padding-top: 50px;
    text-decoration: none;
}

.ptext-box2{
    text-align: center;
    margin: auto;
    width: 940px;
    border-radius: 9px;
}

.Pheader .ptext-box2 p{
    text-align: left;
    padding: 0 0 16px 0;
}

.Pheader .ptext-box2 h3{
    text-align: left;
}

.Pheader .ptext-box2 h4{
    color: black;
    text-align: left;
    font-size: 30px;
    padding-top: 0;
}

.Pheader .ptext-box2 h1{
    padding-bottom: 50px;
}

.cookie{
    font-size: 40px;
}

.personvernerklæring{
    font-weight: bolder;
}

.ptext-box2 h1{
    font-size: 60px;
}

.LOL{
    margin-top: 12px;
    margin-bottom: 8px;
    margin-right: 10px;
}

@media(max-width: 700px){
    .Pheader{
        font-size: 14px;
    }
    .ptext-box2{
        width: 350px;
        margin: auto;
    }
    .ptext-box2 h1{
        font-size: 32px;
    }
    .cookie{
        font-size: 24px;
    }
    .Pheader .ptext-box2 h4{
        font-size: 20px;
    }
    .LOL{
        width: 70px;
        margin-bottom: 2px;
        margin-right: 0px;
    }
}

.sentrert-innhold {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: #d6a36c;
  }
  .beholder {
    display: flex;
    flex-direction: column;
  }
  .rad {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .bilde {
    margin-right: 20px;
  }
  .tekstboks {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border-color: #d6a36c;
    line-height: 1.5;
  }
  .tekstboks h1{
    color: #d6a36c;
  }
  .bilde{
    width: 300px;
    border-radius: 20px;
  }
  .bilde2{
    width: 300px;
    border-radius: 20px;
    margin-left: 20px;
  }
  .sentrert-tekst p{
    text-align: left;
}

  @media (max-width: 700px) {
    .rad {
      flex-direction: column;
    }
    .bilde {  
      width: 200px;  
      margin-right: 0;
      margin-bottom: 10px;
    }
    .bilde2{
        width: 200px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .tekstboks{
        font-size: 12px;
        line-height: 1.5;
    }
    .sentrert-tekst-wrapper{
        padding-bottom: 50px;
    }
    .sentrert-tekst p{
        text-align: left;
        font-size: 15px;
    }
    .rad:nth-child(2) {
        flex-direction: column-reverse;
      }
    .sentrert-innhold{
        padding-bottom: 100px;
        padding-top: 40px;
    }
    
  }

  .sentrert-tekst-wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #d6a36c;
    border-color: #d6a36c;
  } 

  .sentrert-tekst {
    background-color: #d6a36c;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    max-width: 70%;
    border-color: #d6a36c;
    margin-top: 30px;
  }

  .sentrert-tekst p{
    background-color: #d6a36c;
    border-color: #d6a36c;
    color: white;
  }

  .sentrert-tekst h1{
    color: white;
  }

  .MENY4{
    min-height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0)),url(anthony-espinosa-6iqpLKqeaE0-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position:relative;
    justify-content: space-between;
}   



.BKD-btn{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #d6a36c;
    padding: 12px 34px;
    font-size: 16px;
    background:transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 1%;
    margin-top: 5%;
    background-color: #d6a36cac;
}



.BKD-btn:hover{
    border:2px solid #d6a36c;
    background: #d6a36c;
    transition: 0.5s;
    color:  #ffffff;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.144),0 17px 50px 0 rgba(0, 0, 0, 0.121);
}

.Konf-btn{
    display: inline-block;
    text-decoration: none;
    color: #d6a36c;;
    border: 2px solid #d6a36c;
    padding: 12px 34px;
    font-size: 16px;
    background:transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 1%;
    margin-top: 5%;
    background-color: #ffffff;
}



.Konf-btn:hover{
    border:2px solid #d6a36c;
    background: #ffffff;
    transition: 0.5s;
    color:  #d6a36c;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.114),0 17px 50px 0 rgba(0, 0, 0, 0.155);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 5%;
  }
  
  .kaketittel {
    flex-basis: 100%;
    font-size: 50px;
    margin-top: 5%;
    margin-bottom: 2%;
  }

  .biografi {
    margin-bottom: 10%;
    max-width: 70%;
    line-height: 1.5; 
  }
  
  .bilde-wrapper {
    flex: 1;
  }
  
  .kakebilde {
    width: 400px;
    border-radius: 10px;
  }
  
  .info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    height: 100%;
  }
  
  .biografi, .pris, .legg-til-handlekurv {
    margin-bottom: 10px;
  }
  
  .legg-til-handlekurv {
    background-color: #ffffff6c;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 4px;
    border: 2px solid #fff;
  }
  
  .legg-til-handlekurv:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
  }

  .biografi{
    text-align: left;
  }
  
  @media (max-width: 700px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
    .info-wrapper{
        align-items: center;
    }
    .kakebilde{
        width: 300px;
    }

  }

  .pris{
    font-size: 17px;
    cursor:default;
  }


.handlekurv-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .handlekurv-liste {
    list-style-type: none;
    padding: 0;
    width: 50%;
    margin: 0 auto;
  }
  
  .handlekurv-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .slett-btn {
    background-color: #d6a36c;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

.betal-btn {
    display: block;
    background-color: #d6a36c;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin: 20px auto;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 100px;
  }

  .handlekurv-og-skjema {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }

  .Handletittel{
    margin-right: 470px;
    font-size: 50px; 
    margin-bottom: 30px;
  }

  form input {
    margin: 5px 0;
    border-radius: 5px;
    height: 40px;
  }
  
  form label {
    display: block;
    margin-top: 10px;
  }
  
  @media (max-width: 700px) {
    .handlekurv-og-skjema {
      flex-direction: column;
    }
    .Handletittel{
        margin-right: 0px;
    }
    .handlekurv-container {
        flex-direction: column;
    }
    .handlekurv-liste {
        width: 100%;
    }
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
      }
    form input{
        border-radius: 5px;
        height: 50px;
    }
    .betal-btn{
        margin-bottom: 100px;
    }
  }